* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
}
/* Presentation */
.presentation {
  width: 100%;
  margin-bottom: 20px;
}
.presentation-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://www.wallpapertip.com/wmimgs/83-838362_web-developer.jpg") no-repeat center center/cover;
}
.presentation-header h1 {
  font-size: 60px;
  text-align: center;
}
.info-to-scroll-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.info-to-scrollDown-p {
  font-size: 30px;
  text-align: center;
}
.info-to-scrollDown-icon {
  font-weight: 900;
  font-size: 30px;
}
.presentation h1, .presentation p {
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}
.presentation-nav {
  width: 100%;
  height: 70px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
  position: fixed;
  top: 0;
}
.presentation-nav h3 {
  flex: 1;
  margin-left: 80px;
}
.presentation-nav img {
  width: 68px;
  border-radius: 50%;
}
.presentation-nav .social-section a {
  padding: 10px;
  color: #fff;
  font-size: 30px;
}

.footer {
  background-color: #aaa;
  width: 100%;
  height: 80px;
  bottom: 0;
}

.footer button {
  position: absolute;
  right: 0;
}