:root {
  --register-form-height : 60px;
  --register-form-padding : 20px;
  --navigation-height : 80px;
  }

/* Navigation */
.nav-main {
  width: 100%;
  height: var(--navigation-height);
  background: #00ff00;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-main i {
  position: relative;
  left: 10px;
  font-size: 40px;
  transform: translateY(6px);
}

.nav-main .social-section {
  position: fixed;
  right: 30px;
  display: flex;
  align-items: center;
  top: 18px;
  gap: 15px;
}

.nav-main .social-section a {
  color: #000;
}

/* Info */
.info-container img {
  width: 400px;
}