:root {
  --register-form-height : 60px;
  --register-form-padding : 20px;
  --navigation-height : 80px;
  }

/* Navigation */
.nav-main {
  width: 100%;
  height: var(--navigation-height);
  background: #00ff00;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-main i {
  position: relative;
  left: 10px;
  font-size: 40px;
  transform: translateY(6px);
}

.nav-main .social-section {
  position: fixed;
  right: 30px;
  display: flex;
  align-items: center;
  top: 18px;
  gap: 15px;
}

.nav-main .social-section a {
  color: #000;
}

/* REGISTER */
.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  background: #0000ff;
  width: 300px;
  height: 200px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 5px 5px 2px #000, -3px -3px 3px #55f;
}
.register-form label {
  color: #fff;
  font-weight: bold;
}
.register-form input {
  width: 80%;
  height: 30px;
  padding: 5px;
}
.register-form input:focus {
  outline: none;
}
.register-form button {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.register-form button:hover {
  background: #ccc;
}
.register-form button:active {
  background: #888;
}

/* CHAT */

.chat-form {
  position: fixed;
  bottom: 0;
  background: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--register-form-height);
}
.chat-form input {
  width: 80%;
  height: calc(var(--register-form-height) - var(--register-form-padding));
  background: #777;
  border: none;
  padding: 8px;
  color: #fff;
}
.chat-form input::placeholder {
  color: #aaa;
}
.chat-form input:focus {
  outline: none;
}
.send-btn {
  right: 10px;
}
.faces-btn {
  left: 20px;
  color: #ccc;
}
.btn {
  position: absolute;
  font-size: 40px;
  background: transparent;
  border: none;
  bottom: 3px;
  z-index: 100;
}
.chat {
  width: 100%;
  height: calc(100% - var(--navigation-height));
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
}
.chat p {
  margin-bottom: 20px;
}
